.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-heading {
  color: #dda0dd;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 120px;
  height: 15px;
}

.line-chart {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 5px;
}

.chart-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.custom-tooltip {
  gap: 12px;
  font-size: 14px;
}

/* .pie-container {
  box-sizing: border-box;
  width: 30%;
  padding: 15px;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 5px;
} */

.pie-chart-container {
  width: 30%;
  padding: 15px;
  flex-grow: 1;
  background-color: #fff;
  margin-left: 5px;
  border-radius: 10px;
}

.chart-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.pie-chart-total {
  font-size: 24px;
  font-weight: bold;
  fill: #000;
}

.recharts-default-legend {
  margin-top: 10px;
}

.recharts-tooltip-wrapper {
  outline: none;
}
